@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS variables */
:root {
  --header-height: 52px;
}

/* Header styles */
.h-header {
  height: var(--header-height);
}

/* Padding for header */
.padding-header {
  padding-top: var(--header-height);
}

/* Border gradient */
.border-gradient {
  background: radial-gradient(
    60% 10% at 50% 50%,
    rgba(74, 78, 217, 0.3),
    rgba(1, 4, 25, 0) 100%
  );
}

@media (min-width: 768px) {
  .md\:bg-cta {
    background-image: url("../../public/dots.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}
